@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
.headd {
  font-family: Lora;
}
.yellow-stroke::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 38vw;
  height: 4vh;
  background-color: yellow;
  z-index: -1;
}
.head1 h1 {
  margin-bottom: 5vw;
}
.head1 p {
  margin-bottom: 1vw;
}
.head1 .photo img {
  height: 25vh;
  width: 15vw;
  border-radius: 8%;

}
